<div class="forgot-container">
  <div>
    <div class="forgot-content" (keyup.enter)="forgotPassword()">
      <div class="forgot-card">
        <div class="text-center">
          <br />
          <span class="icon-bg"
            ><img src="../../../../assets/images/forgotPassword.png" height="84" width="84"/></span>
          </div>
        <div class="text-center">
          <p class="forgot-title">Forgot Password?</p>
          <span class="forgot_sub_title">Please, enter your email address</span>
        </div>

        <div class="relative" style="padding-top: 5px">
          <app-input-box-login
            [className]="'input_box'"
            [spaces]=0
            name="email"
            [icon]="'pi pi-envelope'"
            [label]="'Email ID'"
            [placeholder]="'Enter your email id'"
            [formGroup]="forgotForm"
            [type]="'email'"
            [error]="
              inputValidationsErrors(forgotForm, 'email')
                ? 'Email is required.'
                : inputPatternValidationsErrors(forgotForm, 'email')
                ? 'Enter an valid email id.'
                : errorList['email']
            "
          ></app-input-box-login>
        </div>
        <div class="submit-btn-outer">
          <app-submit-component2
            [type]="'button'"
            [class]="'submit-btn'"
            [label]="'RESET PASSWORD'"
            [showIcon]="false"
            (submitForm)="forgotPassword()"
            [disabled]="!forgotForm.valid"
            [ifHasError]="hasError"
          ></app-submit-component2>
        </div>
        <div>
          <p class="text-center">
            <a routerLink="/">
              <i class="fas fa-arrow-left pr-2"></i>Back to Log in</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
