<div class="bandconfirm-container p-0 m-0">
  <div class="container-inner">
    <div class="bandconfirm-content">
      <div class="bandconfirm-card">
        <div>
          <div class="logo-body">
            <img
              src="assets/images/upriselogo.png"
              class="logo-img"
              alt="logo"
            />
          </div>
          <!-- <h3 class="logo-title">
            UP<span class="logo-subtitle">RISE</span>
          </h3> -->
        </div>
        <div *ngIf="userData">
          <p class="bandform-text">
            You’re invited to join
            {{ this?.userData?.title | titlecase }} Band by
            {{ this?.userData?.userName | titlecase }}. Would you like to join?
          </p>
          <br />
          <div class="grid text-center">
            <div class="col-12 band-btns">
              <div class="band-decline" (click)="rejectInvitation()">
                Decline
              </div>
              &nbsp;&nbsp;&nbsp;
              <div style="width: 130px">
                <app-submit-component2
                  [type]="'button'"
                  [class]="'submit-btn'"
                  [label]="'Accept'"
                  [showIcon]="false"
                  (submitForm)="AcceptInvitation()"
                >
                </app-submit-component2>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="errormessage">
          <p class="bandform-text">Invitation link has been expired.</p>
        </div>
      </div>
    </div>
  </div>
</div>
