@import '/src/colors.scss';
.p-error-invalid {
  color: red;
}
.p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -0.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
  left: 31px;
}
.textBoxMarginPassword {
  .p-inputtext {
    padding-left: 30px !important;
    width: 100%;
    background: #0f0f0f !important;
    border: $inputBorder;
    color: white;
  }
  .p-inputtext:enabled:focus {
    box-shadow: none;
    border: $inputBorder;
  }
  .p-inputtext.ng-dirty.ng-invalid {
    border: $inputBorder;
  }
  .labelNames {
    margin-bottom: 8px;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  }
}
.password-icon {
  color: $primary !important;
}
.eye-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-right: 10px;
}
