<div
  class="p-input-filled"
  [formGroup]="formGroup"
  autocomplete="off"
  [class]="class"
>
  <div class="textBoxMarginPassword">
    <div class="col-12 p-0 labelNames formFields">
      <label>{{ label }} &nbsp;</label>
    </div>
    <div class="col-12 p-0 m-0 p-input-icon-left inputField formFields">
      <input
        [type]="passwordType"
        pInputText
        [placeholder]="placeholder"
        [disabled]="disabled"
        [formControlName]="name"
        [class]="error ? 'p-invalid' : ''"
        [style]="style"
        [maxlength]="maxlength"
        [minlength]="minlength"
        (keypress)="onKeydown($event)"
      />
      <i class="pi pi-unlock password-icon"></i>  
      <i *ngIf="visable"
        class="pi pi-eye eye-icon"
        aria-hidden="true"
        (click)="invisableEye()"
      ></i>
      <i *ngIf="!visable"
        class="pi pi-eye-slash eye-icon"
        aria-hidden="true"
        (click)="visableEye()"
      ></i>  
    </div>
      <span></span>
      <div [ngClass]="className" style="display: flex;">
        <small
          class="p-error-invalid"
          [innerHTML]="error !== undefined ? error : '&nbsp;'"
        ></small>
      </div>
      <br />

  </div>
</div>
