@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/AvenirNext-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Nunito;
  src: url("/src/assets/fonts/Nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("/src/assets/fonts/Oswald/static/Oswald-Regular.ttf");
}
