@import "/src/colors.scss";
@import "/src/common.scss";

.songs-container {
  background-color: $background;
  height: calc(100vh - 71px);
  padding: 20px;
  color: #ffffff;
  overflow-y: auto;
}
.songs_title,
.albums_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $primary;
  padding-bottom: 7px;
  border-bottom: 3px solid $primary;
  cursor: pointer;
  margin: 3px;
}
.songs_title {
  width: fit-content;
  margin-right: 20px;
}
.albums_title {
  width: 57px;
  margin-left: 20px;
}
.songs_Albums {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #d1d1d1;
  cursor: pointer;
}
.songs_Albums:hover {
  text-decoration: underline !important;
}
.album_songs_songsmanagement:hover {
  color: $primary !important;
  text-decoration: underline !important;
}
.upload-songs-btn {
  padding: 8px 16px;
  width: 150px !important;
  background: $primary;
  border: 0.6px solid $primary;
  box-sizing: border-box;
  color: #000;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 30px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
}
.cancel_btns {
  text-align: center;
  border: 1px solid $primary;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.24));
  border-radius: 30px;
  width: 110px;
  padding: 5px;
  line-height: 28px;
  color: $primary;
  cursor: pointer;
}
.comma:not(:last-child):after {
  content: ", ";
}
.comma:last-child:after {
  content: "";
}
.info-msgs {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $infocolor;
}
.fa {
  cursor: pointer;
}
.hr_class {
  border: 0.6px solid rgba(240, 240, 240, 0.4);
}
.images_View {
  padding: 8px;
  display: flex;
  justify-content: center;
}
.blur {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
}
.song_poster_body {
  width: 160px;
  position: relative;
}
.song_poster_delete {
  position: absolute;
  top: -16px;
  right: 1px;
  visibility: hidden;
}
.audio_poster_delete {
  position: absolute;
  top: -16px;
  right: -8px;
  visibility: hidden;
}
.audio_poster_body:hover .audio_poster_delete {
  visibility: visible;
}
.song_poster_body:hover .song_poster_delete {
  visibility: visible;
}
.audio_poster_body {
  width: 160px;
  position: relative;
}
.event_poster {
  object-fit: cover;
}
.song_poster_body:hover .event_poster {
  opacity: 0.2;
}
.albumgenre:hover + .albumgenrehover {
  visibility: visible;
}
.albumgenrehover {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
}
.angel-icon-position {
  position: relative;
  top: 3px;
}
.search_box {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 38px;
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
  width: 220px;
  height: 38px;
  padding-left: 38px;
  padding-right: 33px;
  background: url("../../../../assets/icons/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  outline: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: #ffffff;
}
.disableswitch {
  opacity: 0.5;
  background-color: #1890ff;
  color: #141414;
}
.switch {
  margin-top: 18px;
  margin-left: 20px;
}
// live switch
// ::ng-deep {
//   .switch {
//     // default ball
//     .p-inputswitch .p-inputswitch-slider:before {
//       background: #f0f0f0;
//       left: -5px;
//       width: 1rem;
//       height: 1rem;
//       margin-top: -8px;
//       border-radius: 50%;
//       transition-duration: 0.2s;
//       box-shadow: none;
//     }
//     // checked ball
//     .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
//       background: #52c41a;
//       left: -10px;
//     }
//     // default track
//     .p-inputswitch .p-inputswitch-slider {
//       box-shadow: none;
//       border-radius: 30px;
//       background: transparent !important;
//       height: 12px;
//       width: 25px;
//       border: 2px solid #ffffff;
//     }
//     // checked track
//     .p-inputswitch-checked .p-inputswitch-slider {
//       border: 2px solid #52c41a;
//     }
//     // onperforming action
//     .p-inputswitch.p-focus .p-inputswitch-slider {
//       box-shadow: none;
//     }
//   }
// }
// location
// // ::ng-deep {
// //   .p-dialog-mask.p-component-overlay {
// //     overflow: auto;
// //     z-index: 10 !important;
// //   }
// // }
// ::ng-deep {
//   // .p-inputtext.ng-dirty.ng-invalid {
//   //   border: 0.6px solid rgba(240, 240, 240, 0.3);
//   // }
//   // input.ng-invalid.ng-touched {
//   //   border: 0.6px solid rgba(240, 240, 240, 0.3);
//   // }
//   p-multiselect.ng-dirty.ng-invalid > .p-multiselect {
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//   }
//   // input.ng-invalid.ng-touched {
//   //   border: 0.6px solid rgba(240, 240, 240, 0.3);
//   // }
//   // .p-inputtext:enabled:hover {
//   //   border: 0.6px solid rgba(240, 240, 240, 0.3);
//   // }
//   // .p-inputtext:enabled:focus {
//   //   box-shadow: none;
//   // }
//   // .p-inputtext:enabled:focus {
//   //   box-shadow: none;
//   //   border: 0.6px solid rgba(240, 240, 240, 0.3);
//   // }
//   .p-inputtext {
//     font-size: 1rem;
//     width: 100%;
//     padding: 0.5rem 0.5rem;
//     border: 0px solid #ced4da;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s,
//       box-shadow 0.2s;
//     -webkit-appearance: none;
//     appearance: none;
//     border-radius: 3px;
//   }

//   .p-input-filled .p-inputtext:enabled:hover {
//     background: #0f0f0f;
//   }
//   .p-input-filled .p-inputtext {
//     background: #0f0f0f;
//   }
//   .p-input-filled .p-inputtext:enabled:focus {
//     background: #0f0f0f;
//   }

//   .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
//     margin: 0;
//     padding: 0.5rem 1rem;
//     border: 0 none;
//     color: #ffffff;
//     background: transparent;
//     transition: box-shadow 0.2s;
//     border-radius: 0;
//   }
//   .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
//     font-size: 1.2rem;
//     position: relative;
//     top: 12px;
//     left: 8px;
//   }
//   .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
//     margin-left: 1rem;
//     margin-top: 21px;
//   }
//   .p-dialog .p-dialog-footer {
//     border-top: 0 none;
//     background: #202020;
//     border: 0px solid rgba(240, 240, 240, 0.2);
//     color: #ffffff;
//     padding: 1.5rem 1.5rem 1.5rem 1.5rem;
//     text-align: right;
//     border-bottom-right-radius: 3px;
//     border-bottom-left-radius: 3px;
//   }
//   .p-datatable .p-datatable-thead > tr > th {
//     text-align: center;
//     padding: 1rem 1rem;
//     border: 0.6px solid rgba(240, 240, 240, 0.2);
//     border-width: 0 0 1px 0;
//     font-weight: 600;
//     color: #ffffff;
//     background: #333333;
//     transition: box-shadow 0.2s;
//   }
//   .p-multiselect {
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//     background: #0f0f0f;
//     color: #d1d1d1;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s,
//       box-shadow 0.2s;
//     border-radius: 3px;
//     width: 100%;
//     height: 40px;
//   }
//   .p-multiselect-panel .p-multiselect-header {
//     padding: 0.5rem 1rem;
//     border-bottom: 0 none;
//     color: #d1d1d1;
//     background: #0f0f0f;
//     margin: 0;
//     border-top-right-radius: 3px;
//     border-top-left-radius: 3px;
//     display: none;
//   }
//   .ui-datatable-data > tr > td {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-width: 150px;
//   }

//   .p-datatable .p-sortable-column:not(.p-highlight):hover {
//     color: #d1d1d1;
//     background: #333333 !important;
//   }
//   .p-multiselect-panel
//     .p-multiselect-items
//     .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
//     color: #ffffff;
//     background: #0f0f0f;
//   }
//   .p-multiselect.p-multiselect-chip .p-multiselect-token {
//     padding: 0.25rem 0.5rem;
//     margin-right: 0.5rem;
//     color: #d1d1d1;
//     background: #0f0f0f;
//     border-radius: 3px;
//     border: 0.6px solid #d1d1d1;
//   }
//   .p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
//     outline: 0 none;
//     outline-offset: 0;
//     box-shadow: none;
//   }
//   .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
//     color: #d1d1d1;
//     background: #0f0f0f;
//   }
//   .p-datatable .p-datatable-tbody > tr > td {
//     text-align: center;
//     border-bottom: 0.6px solid rgba(240, 240, 240, 0.2);
//     border-width: 0 0 1px 0;
//     padding: 1rem 1rem;
//     background: #202020;
//     color: #f0f0f0;
//   }
//   .p-datatable .p-datatable-tbody > tr {
//     background: #202020;
//     text-align: center;
//     transition: box-shadow 0.2s;
//   }
//   .p-datatable {
//     border: 0.6px solid rgba(240, 240, 240, 0.2);
//   }
//   .check_box {
//     position: relative;
//     top: 28px;
//   }
//   .p-checkbox .p-checkbox-box {
//     border: 2px solid #ced4da;
//     background: #202020;
//     width: 20px;
//     height: 20px;
//     color: #495057;
//     border-radius: 3px;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s,
//       box-shadow 0.2s;
//   }

//   .p-dialog .p-dialog-header {
//     border-bottom: 0 none;
//     padding: 10px;
//     color: $primary;
//     background: #282828;
//     border: 0.6px solid rgba(240, 240, 240, 0.2);
//     box-sizing: border-box;
//   }

//   .p-dialog .p-dialog-header .p-dialog-title {
//     font-weight: 800;
//     font-size: 18px;
//   }
//   .p-dialog .p-dialog-content {
//     background: #282828;
//     border: 0px solid rgba(240, 240, 240, 0.2);
//     box-sizing: border-box;
//     // padding: 0 1.5rem 2rem 1.5rem;
//     color: #ffffff;
//   }

//   .p-confirm-dialog-accept {
//     box-shadow: none !important;
//   }

//   .p-inputtext {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//       Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//       "Segoe UI Symbol";
//     font-size: 1rem;
//     color: #ffffff;
//     background: #0f0f0f;
//     padding: 0.5rem 0.5rem;
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s,
//       box-shadow 0.2s;
//     -webkit-appearance: none;
//     appearance: none;
//     border-radius: 3px;
//   }
//   .p-multiselect-items-wrapper {
//     background: #0f0f0f;
//     color: #d1d1d1;
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//   }

//   .modal-open .container-fluid,
//   .modal-open .container {
//     -webkit-filter: blur(1px);
//     -moz-filter: blur(1px);
//     -o-filter: blur(1px);
//     -ms-filter: blur(1px);
//     filter: blur(1px);
//   }
//   .p-multiselect:not(.p-disabled):hover {
//     box-shadow: none;
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//   }
//   .p-multiselect:not(.p-disabled).p-focus {
//     box-shadow: none;
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//   }
//   .p-dropdown-items-wrapper {
//     overflow: auto;
//     background: #0f0f0f;
//     color: #d1d1d1;
//     border: 0.6px solid rgba(240, 240, 240, 0.3);
//   }
//   .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
//     color: #d1d1d1;
//     background: #333333;
//   }
//   .p-datatable .p-sortable-column.p-highlight {
//     color: #d1d1d1 !important;
//     background: #333333 !important;
//     box-shadow: none;
//   }
//   .p-dropdown-panel
//     .p-dropdown-items
//     .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
//     color: #d1d1d1;
//     background: #0f0f0f;
//   }
//   .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
//     margin: 0;
//     padding: 0.5rem 1rem;
//     border: 0 none;
//     color: #d1d1d1;
//     background: #0f0f0f;
//     transition: box-shadow 0.2s;
//     border-radius: 0;
//   }
//   .p-paginator {
//     background: #000000;
//     color: #f0f0f0;
//     border: solid #e9ecef;
//     border-width: 0;
//     padding: 0.5rem 1rem;
//     border-radius: 3px;
//   }
//   .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
//     background: #202020;
//     border-color: #202020;
//     color: #f1ffff;
//   }
//   .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
//     background: #202020;
//     border-color: #202020;
//     color: #f1ffff;
//   }
//   .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
//     background: #202020;
//     border-color: transparent;
//     color: #f0f0f0;
//   }
//   .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
//   .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
//   .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
//   .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
//     background: #202020;
//     border-color: transparent;
//     color: #f0f0f0;
//   }
//   .p-dropdown {
//     background: #202020;
//     border: none;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s,
//       box-shadow 0.2s;
//     border-radius: 3px;
//     box-shadow: none;
//   }
//   .p-dropdown:not(.p-disabled).p-focus {
//     box-shadow: none;
//     border: none;
//   }
//   .p-dropdown:not(.p-disabled):hover {
//     border: none;
//   }
// }
