@import '/src/colors.scss';
.changepassword-container {
  background: url("../../../../assets/images/bg-img.png");
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
}
.changepassword-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(51, 51, 51, 0.3);
  border: $contentBorder;
  box-sizing: border-box;
  border-radius: 2px;
  width: 490px;
  height: 540px;
  padding: 30px 55px;
}
.icon-bg {
  display: flex;
  justify-content: center;
}
.submit-btn-outer {
  width: 220px;
  margin: 0 auto;
}
.changepassword-logo {
  padding: 25px;
}
.changepassword-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
.changepassword_sub_title {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.input_box-outer {
  position: relative;
  padding-top: 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
::ng-deep {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  }
}
