<div class="changepassword-container">
  <div>
    <div class="changepassword-content">
      <div class="changepassword-card">
        <div class="text-center">
          <br />
          <span class="icon-bg"
            ><img src="../../../../assets/images/changePassword.png" height="84" width="84"/></span>
        </div>
        <div class="text-center">
          <p class="changepassword-title">Change Password?</p>
          <span class="changepassword_sub_title"
            >Enter a new password below to change your password</span
          >
        </div>
        <div class="input_box-outer">
          <div class="relative">
            <app-text-password 
              [className]="'input_box'"
              name="password"
              [formGroup]="changepasswordForm"
              [placeholder]="'Enter password'"
              [label]="'Password'"
              [minlength]="8"
              [maxlength]="20"
              [error]="
                inputValidationsErrors(changepasswordForm, 'password')
                  ? 'Password is required.'
                  : inputPatternValidationsErrors(
                      changepasswordForm,
                      'password'
                    )
                  ? 'Password must have atleast 8 characters consists of a lowercase, uppercase, number and a special character.'
                  : errorList['password']
              "
            ></app-text-password >

            <div class="input_box-outer">
              <div class="relative" style="top: -25px">
                <app-text-password
                  [className]="'input_box'"
                  name="confirmpassword"
                  [formGroup]="changepasswordForm"
                  [placeholder]="'Enter confirm password'"
                  [minlength]="8"
                  [maxlength]="20"
                  [label]="'Confirm password'"
                  [error]="
                    inputValidationsErrors(
                      changepasswordForm,
                      'confirmpassword'
                    )
                      ? 'Confirm password is required.'
                      : checkPasswordErrors(
                          changepasswordForm,
                          'confirmpassword',
                          'password'
                        )
                      ? 'Passwords do not match.'
                      : errorList['confirmpassword']
                  "
                ></app-text-password>
              </div>
            </div>

            <div
              class="submit-btn-outer relative"
              style="top: -30px"
            >
              <app-submit-component2
                [type]="'button'"
                [class]="'submit-btn'"
                [label]="'SAVE PASSWORD'"
                [showIcon]="false"
                (submitForm)="changePassword()"
                [disabled]="!changepasswordForm.valid || disableSubmit"
                [ifHasError]="hasError"
              ></app-submit-component2>
            </div>
            <div>
              <!-- <p class="text-center">
                <a routerLink="/">
                  <i class="fas fa-arrow-left pr-2"></i>Back to Log in</a
                >
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
